/* encoding: utf-8 */

.stream-layout {
    height: 100%;
}

.stream-header {
    height: 5%;
    min-height: 60px;
    min-width: 900px;
    padding-bottom: 0;
}

.stream-body {
    height: 95%;
    min-width: 900px;
}


.details-list {
    width: 100%;
    height: 40px;
}

.details-item {
    width: 32%;
}

.details-item-content {
    font-size: 14px;
}


.panel-layout {
    height: 100%;
}

.panel-header {
    height: 10%;
    min-height: 80px;
}

.panel-body {
    height: 90%;
}


.panel-body-sidebar {
    min-width: 100px;
}

.panel-body-main {
    max-width: calc(100% - 100px);
}
