.stream-layout {
    height: 100%;
}

.stream-header {
    height: 10%;
}

.stream-body {
    height: 90%;
}


.panel-layout {
    height: 100%;
}

.panel-header {
    height: 10%;
}

.panel-body {
    height: 90%;
}
