/* encoding: utf-8 */

.stream-layout {
    height: 100%;
}

.stream-header {
    height: 10%;
    min-height: 60px;
    min-width: 900px;
}

.stream-body {
    height: 90%;
    min-width: 900px;
}


.details-list {
    width: 100%;
    height: 40px;
}

.details-item {
    width: 32%;
}


.sidebar-tab {
    cursor: pointer;
}


.panel-layout {
    height: 100%;
}

.panel-header {
    height: 10%;
    min-height: 60px;
}

.panel-body {
    height: 90%;
}
